
<div class="container">
<app-book-list></app-book-list>
</div>
















<!--1er type de binding : Expression ou interpolation>
<h1>{{title}}</h1>
<Deuxième type de binding : Property Bindin>
<img [src]="url" alt="logo ANGULAR" id="logo" >
<Troisième type de binding : Event Binding>
<div><button (click)="changerLogo()">Changer le logo</button></div>
<Quatrième type de binding : Two-way Binding>
<div><input type="text" [(ngModel)]="title" /></div>

<ul>
  <li *ngFor="let p of pays">{{p}}</li>
</ul>

<p *ngIf="url == url1">Paragraphe visible uniquement avec le logo en noir</p-->